In [ ]:
def is_leap(year):
    leap = False
    if year %4 == 0:
        if year %100 != 0:
            return leap
        if year %400 == 0:
            return True
    return leap

In [5]:
is_leap(1992)

True

False

In [6]:
def my_hello():
    print('hello')
    print('are')
    print('you')
    print('okay')

In [7]:
my_hello()

hello
are
you
okay

In [13]:
def say_hello(name):
    print(f'hello {name}')

In [14]:
say_hello('william')

hello william

In [15]:
def add_num(num1,num2):
    return num1 + num2

In [16]:
add_num(2,4)

6

In [17]:
add_num(34,74)

108

In [18]:
def sum_nums(num1,num2):
    return num1+num2

In [19]:
sum_nums(10,20)

30

In [20]:
sum_nums('10','20')

'1020'

In [35]:
def num_list(nums_list):
    
    even_numbers = []
    
    for number in nums_list:
        if number %2 == 0:
            even_numbers.append(number)
        else:
            pass
        
    return even_numbers

In [36]:
num_list([2,4])

[2, 4]

In [37]:
num_list([2,3,4,6])

[2, 4, 6]

In [38]:
num_list([3,5,7,2])

[2]

In [39]:
num_list([3,5,7])

[]

In [40]:
stock_prices = [('APPL',200),('GOOG',400),('MSFT',600)]

In [42]:
for items in stock_prices:
    print(items)

('APPL', 200)
('GOOG', 400)
('MSFT', 600)

In [44]:
work_hours = [('Abby',200),('Gill',400),('Cassie',600)]

In [47]:
def employee_check(work_hours):
    
    current_max = 0
    employee_month = ''
    
    for employee, hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_month = employee
        else:
            pass
    return (employee_month, current_max)

In [49]:
result = employee_check(work_hours)

In [50]:
result

('Cassie', 600)

In [51]:
name,hours = employee_check(work_hours)

In [52]:
name

'Cassie'

In [53]:
hours

600

In [54]:
exmple = [1,2,3,4,5,6,7]

In [56]:
from random import shuffle
shuffle(exmple)

In [57]:
exmple

[2, 3, 6, 1, 7, 4, 5]

In [58]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [61]:
shuffle_list(exmple)

[6, 3, 2, 7, 4, 1, 5]

In [62]:
my_list = ['', 'O',""]

In [63]:
my_list

['', 'O', '']

In [70]:
def user_guess():
    
    guess= ''
    
    while guess not in ['0','1','2']:
        guess = input("Pick a number: 0,1,or 2")
    
    return int(guess)

In [72]:
user_guess()

Pick a number: 0,1,or 2 28
Pick a number: 0,1,or 2 1

1

In [73]:
def check_guess(my_list,guess):
    if my_list[guess] == 'O':
        print('Correct')
    else:
        print('Wrong')
        print(my_list)

In [75]:
mylist = ['','O','']

mixed_list = shuffle_list(my_list)

guess = user_guess()

check_guess(mixed_list)

Pick a number: 0,1,or 2 8
Pick a number: 0,1,or 2 9
Pick a number: 0,1,or 2 2

TypeError: check_guess() missing 1 required positional argument: 'guess'

In [1]:
def add_function(num1,num2):
    return num1 + num2

In [2]:
add_function(30,234)

264

In [5]:
def say_hello():
    print('hello')
    print('are')
    print('you')
    print('good')

In [6]:
say_hello()

hello
are
you
good

In [7]:
def say_hola(buns):
    print(f'Hello {buns}')

In [9]:
say_hola('william')

Hello william

In [10]:
def mult_num(num1,num2):
    return num1 * num2

In [11]:
mult_num(23,8)

184

In [12]:
mult_num(20,19)

380

In [19]:
def logic_sum(nums):
    return nums %2 == 0

In [20]:
logic_sum(13)

False

In [21]:
logic_sum(222)

True

In [38]:
def even_check(num_list):
    
    even_numbers = []
    
    for number in num_list:
        if number %2 == 0:
            even_numbers.append(number)
        else:
            pass
    return even_numbers

In [39]:
even_check([1,4,5])

[4]

In [34]:
even_check([1,2,4,7])

[2, 4]

In [35]:
even_check([1,3,5])

[]

In [44]:
def name_list(names):
    
    work_list = []
    
    for nam in names:
        work_list.append(names)
    return work_list

In [49]:
name_list('sara')

['sara', 'sara', 'sara', 'sara']

In [53]:
def parrot_trouble(talking, hour):
    return (talking and (hour<7 or hour>20))

In [54]:
parrot_trouble(True,7)

False

In [65]:
def hello_name(name):
    return ("Hello {}!".format(name))

In [66]:
hello_name('Bob')

'Hello Bob!'